# standard android ignores
gen/

# gradle project ignores
.gradle/
build/

# maven project ignores
target/

# eclipse project ignores
.classpath
.project
.settings/
.wtpmodules
bin/

# Android Studio project ignores
.idea/
*.iml
gen-external-apklibs/
local.properties
out/

# Kotlin project ignores
.kotlin/
