# standard android ignores
gen/

# maven project ignores
target/

# eclipse project ignores
.classpath
.project
.settings/
.wtpmodules
bin/

# Android Studio project ignores
.idea/
gto-support.iml
gen-external-apklibs/
out/
